<span class="xim_configDiv_head">
	<img class="xim_img_info" src="<{$xoops_url}>/modules/xim/images/info.png" alt="Options" title="Options" />
</span>
<span class="xim_configDiv_body">
	<{$block.config}>
</span>
	<div id="online_friends">
		<ul>
			<{if $block.set >= 1}>
			<{foreach item=user from=$block.amigos}>
				<li style="text-align:left;list-style-type:none;">
					<a href="javascript:void(0)" onclick="javascript:xim_chatWith('<{$user.id}>','<{$user.nome}>')" title="<{$user.nome}>">
						<img src="<{$user.status}>" style="margin-bottom:-3px" title="<{$user.nome}>" /> <{$user.nome}>
					</a>
				</li>
      		<{/foreach}>
			<{/if}>
			<{if $block.set < 1}>
				<li style="text-align:center;list-style-type:none;font-weight:bold;">
				<{$block.onlyyou}>
				</li>
			<{/if}>
    	</ul>
	</div>
<script type="text/javascript">
	var xim_RandNumGenerate = Math.floor(Math.random()*101);
	// make last know config selected:selected (culex)
	xoops_im("select[name=sound] option[value=<{$block.my_sound}>]").attr("selected", true);
	xoops_im("select[name=sound]").val('<{$block.my_sound}>');
	xoops_im("select[name=status] option[value=<{$block.my_status}>]").attr("selected", true);
	xoops_im("select[name=status]").val('<{$block.my_status}>');
	var refreshId = setInterval(function() {
	xoops_im('#online_friends').load(xim_url+'blocks/blockupdater.php?chk='+xim_RandNumGenerate);
	xoops_im('#online_friends').show();
	}, 10000);
</script>	