<!-- Call to CSS -->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="<{xoAppUrl css/screen_ie.css}>" />
<![endif]-->

<div align="center"><h1>Xoops Instant Messenger</h1></div>
<!--
<div style="border-style: solid; border-width:2px; border-color: #999; width: 20%; padding:5px; position:relative; float:left; margin:10px;">
    <h2>Lista de Amigos</h2>

    <{foreach item=user from=$amigos}>
	<{if $user.id != "none"}>
	    <div style="border-bottom-style:solid;border-width:1px; border-color:#999; margin-bottom:5px">
		  <a href="javascript:void(0)" onclick="javascript:chatWith('<{$user.id}>','<{$user.nome}>')"><{$user.nome}></a>
		  <div style="position: relative; diplay:inline; float:right;">
			<a title="Visualizar o perfil de <{$user.nome}>" href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>"><img  alt="Visualizar Perfil" width="15px" height="15px"  src="<{$xoops_url}>/modules/xim/images/perfil.png" border="0"/></a>
			<a title="Remover <{$user.nome}>" href="<{$xoops_url}>/modules/xim/index.php?op=remove&id=<{$user.id}>"><img  alt="Remover" width="15px" height="15px"  src="<{$xoops_url}>/modules/xim/images/delete.gif" border="0"/></a>
		  </div>
	    </div>
	<{else}>
	      Buscar Amigos!
	<{/if}>
    <{/foreach}>
</div>
<div style="border-style: solid; border-width:2px; border-color: #999; width: 70%; padding:5px; position:relative; float:left; margin:10px;">
    <form>
    </form>
</div>
-->
<!-- Calls to JS -->
