<!-- Call to CSS -->
<!--[if lte IE 7]>
<link type="text/css" rel="stylesheet" media="all" href="<{xoAppUrl css/screen_ie.css}>" />
<![endif]-->
<h1 style="text-align:center;">Xoops Instant Messenger</h1>
<!--
<div style="border-style: solid; border-width:2px; border-color: #999; width: 20%; padding:5px; position:relative; float:left; margin:10px;">
    <h2>Lista de Amigos</h2>
    <{foreach item=user from=$amigos}>
	<{if $user.id != "none"}>
	    <div style="border-bottom-style:solid;border-width:1px; border-color:#999; margin-bottom:5px">
		  <a href="javascript:void(0)" onclick="javascript:chatWith('<{$user.id}>','<{$user.nome}>')"><{$user.nome}></a>
		  <div style="position: relative; diplay:inline; float:right;">
			<a title="Visualizar o perfil de <{$user.nome}>" href="<{$xoops_url}>/userinfo.php?uid=<{$user.id}>"><img  alt="Visualizar Perfil" width="15px" height="15px"  src="<{$xoops_url}>/modules/xim/images/perfil.png" border="0"/></a>
			<a title="Remover <{$user.nome}>" href="<{$xoops_url}>/modules/xim/index.php?op=remove&id=<{$user.id}>"><img  alt="Remover" width="15px" height="15px"  src="<{$xoops_url}>/modules/xim/images/delete.gif" border="0"/></a>
		  </div>
	    </div>
	<{else}>
	      Buscar Amigos!
	<{/if}>
    <{/foreach}>
</div>
<div style="border-style: solid; border-width:2px; border-color: #999; width: 70%; padding:5px; position:relative; float:left; margin:10px;">
    <form>
    </form>
</div>
-->
<!-- Calls to JS -->
<!--<{includeq file="db:system_header.html"}>--> 
<{* Comented
	<div id=buddyList>
		<div id="online_friends">
				<ul>
					<{foreach item=user from=$block.amigos}>
						<li style="list-style-type:none;">
							<a href="javascript:void(0)" onclick="javascript:xim_chatWith('<{$user.id}>','<{$user.nome}>')" title="<{$user.nome}>">
								<img src="<{$user.status}>" style="margin-bottom:-3px" alt="<{$user.nome}>" /><{$user.nome}>
							</a>
						</li>
					<{/foreach}>
				</ul>
		</div>
	</div>
	<{if $users_display == true}>
		<div id="buddySearch">
			<span class="xim_configDiv_head">
				<img class="xim_img_info" src="<{xoAppUrl /modules/xim/images/info.png}>" alt="Options" title="Options" />
			</span>
			<span class="xim_configDiv_body"><{$block.config}></span>
			<!--Display form sort-->
			<div class="xo-headercontent">
				<div class="floatleft"><{$form_sort}></div>
			</div>
			<table id="xo-users-sorter" cellspacing="1" class="outer tablesorter">
				<thead>
					<tr>
						<th class="txtcenter">Avatar</th>
						<th class="txtcenter">Username</th>
						<th class="txtcenter" width='11%'>Action</th>
					</tr>
				</thead>
				<tbody>
					<!--Display data-->
					<{if $users_count == true}>
						<form name="memberslist" id="memberslist" action="<{$php_selft}>" method="POST">
							<{foreach item=users from=$users}>
								<tr class="<{cycle values='even,odd'}>" style="vertical-align:middle;">
									<td class="txtcenter"><img class="user_avatar" src="<{$users.user_avatar}>"  alt="" /></td>
									<td class="txtcenter"><{$users.uname}></td>
									<td>
										<div id="loading_<{$users.uid}>" style="display:none; text-align: center;">
											<img src="./images/mimetypes/spinner.gif" title="Loading" alt="Loading" width="12px"/>
										</div>
									</td>
									<td class="xo-actions txtcenter">
										<a class="tooltip" href="index.php?op=add_user&amp;uid=<{$users.uid}>" title="Add">
											<img src="<{xoAppUrl /modules/xim/images/add_user.png}>" alt="Add" />
										</a>
										<a class="tooltip" href="index.php?op=users_info&amp;uid=<{$users.uid}>" title="Delete">
											<img src="<{xoAppUrl /modules/xim/images/remove_user.png}>" alt="Delete" />
										</a>
										<a class="tooltip" href="index.php?op=delete_user&amp;uid=<{$users.uid}>" title="Info">
											<img src="<{xoAppUrl /modules/xim/images/userinfo.png}>" alt="Info" />
										</a>
									</td>
								</tr>
							<{/foreach}>
						</form>
					<{/if}>
				</tbody>
			</table>
			<div style="text-align:right;"><{$nav}></div>
		</div>
	<{else}>
		<div id="buddySearch">
			<span class="xim_configDiv_head">
				<img class="xim_img_info" src="<{xoAppUrl /modules/xim/images/info.png}>" alt="Options" title="Options" />
			</span>
			<span class="xim_configDiv_body"><{$block.config}></span>
			<!--Display form sort-->
			<{$form_sort}>
		</div>
	<{/if}>
*}>