<ul id="mainpanel">
	<li id="chatpanel">
		<a href="#" class="chat" title="<{$panel.lang_friends}>"><{$panel.lang_friends}> (<span id="total"></span>) </a>
		<div style="height: 486px; display: none;" class="subpanel">
			<h3><span> &#8211; </span><{$panel.lang_friends_online}><img class="xim_img_infof" style="left:-3px;" src="<{xoAppUrl modules/xim/images/info.png}>" alt="Options" title="Options"/></h3>
			<div id="xim_configDivf">
				<span class="xim_configDiv_bodyf">
					<form method="post" id="configf" action=''><{$panel.config_sound}>
						<select name="soundf">
							<{foreach key=key item=item from=$panel.sound_options}>
								<option value="<{$key}>"><{$item}></option>
							<{/foreach}>	
						</select>
						<br /><br />
						<{$panel.config_status}>
						<select name="statusf">
							<{foreach key=key item=item from=$panel.status_options}>
								<option value="<{$key}>"><{$item}></option>
							<{/foreach}>
						</select>
						<br /><br />
						<div style="text-align:center;">
								<input type="submit" value="<{$panel.config_save}>" name="submit" class="update_buttonf" title="<{$panel.config_save}>" />
						</div>
						<!--</select>-->
					</form>
				</span>
				<div id="flashf"></div>
			</div>
			<ul id="userlist" style="height: 461px;">
			</ul>
		</div>
	</li>	
	<span id="dock"></span>
</ul>